/* frontend/src/App.css */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.header {
  text-align: center;
}

.description {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in element's total width/height */
}

.button.block {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button.block:disabled {
  background-color: #ccc;
}

.button.link {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font-size: 14px;
}

label {
 display: block;
 margin-bottom: 5px;
 font-weight: bold;
}